body {
    font-size: 12px;
    font-family: "Helvetica Neue";
}
h1{
    font-size: 200%;
}
h2{
     font-size: 180%;
 }

h3{
    font-size: 160%;
}

h4{
    font-size: 140%;
}

h5{
    font-size: 120%;
}
h6{
    font-size: 100%;
}



#header h1 {
    color : blue;
    font-size: 100%;
}

#main h1 {
    color : darkblue;

}
